.DS_Store
.git/
.venv/


# git ignore for unity project inside Unity/Myproject

# =============== #
# Unity generated #
# =============== #
# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore
#
/Unity/My project (1)/[Ll]ibrary/
